{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container py-4">
    <div class="row" id="card-accueil">
        {% for resto in restos %}
            <div class="col-4">
                {% include 'main/layout/_cardAccueil.html.twig' %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
