{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

   {{ form_start(form) }}

    {{ form_end(form) }}

    {% for resto in results %}
        <h3>{{ resto.nom }}</h3>

    {% endfor %}

</div>
{% endblock %}
