#card-accueil{
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
.page-item.active .page-link{
  background-color: #FF7E09!important;
}
.pagination {
  justify-content: center;
}