<div class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1 class="text-danger">Découvrez et réservez le meilleur restaurant</h1>
                
            </div>
            <div class="col-5">
                <img src="{{ asset('images/header.png') }}" alt="header presentation" class="img-fluid">
            </div>
        </div>
    </div>
</div>